<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        <p>Hello {{user.name}} @ {{user.email}},</p>
        <p>This is a warning email to tell you that someone has deleted the pet: {{pet.name}}</p>
    </div>
</body>

</html>